
 
.Principal{
    background-color: #EBF1F4;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    border: 5px solid #A5DFE9;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 70%;
    height: 80vh;   
}
.Lateral{
    background-color: #EBF1F4;
    padding: 10px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 30%;
    height: 80vh;
    border: 5px solid #A5DFE9;
    text-align: center;
    justify-content: center;
}

.Ventanas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    height: 80vh;

}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    background-color: #A5DFE9; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    height: 8vh; 
}

.header-left {
    display: flex;
    align-items: center;
}

.header-center {
    display: flex;
    justify-content: right;
    flex-grow: 1;
    margin-right: 20px;
}

.header-right {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.user-icon {
    height: 50px;
    width: 50px;
    border-radius: 50%; 
    object-fit: cover;
}

.headerButton {
    min-width: 120px;
    max-width: 200px;
    background-color: #d6eef4;
    text-align: center;
    color: #3b2b8d;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    border: 1px solid #b0d0db;
    border-radius: 8px;
    padding: 8px 12px;
    margin: 2px;
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    white-space: nowrap;
}

.headerButton:hover {
    background-color: #c4e1eb;
    transition: background-color 0.2s;
    transform: scale(1.05);
    transition: transform 0.2s;
}

.Evolucion{
    text-align: center;
}

.ImgEvolucion {
  display: flex;
  justify-content: center;
}

.ImgEvolucion img {
  width: 15%;
  height: auto;
  margin-left: 3%;
  margin-right: 3%;
}

h2{
    margin-top: 1px;
}

.MyV{
    background-color: black;
    width: 99%;
    height: 60%;
    border-radius: 10px;
    margin-top: 5px;
    border: 1px solid #dadada;
    background-color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}

.Mision{
    background-color: white;
    width: 45%;
    height: 90%; 
}

.Vision{
    background-color: white ;
    width: 45%;
    height: 90%;
}

.Vision h2{

    margin: 10px
}
.Mision h2{
    margin: 10px
}

.MisionTextBox{
    background-color: #A5DFE9;
    border: 1px solid #dadada;
    width: 97%;
    height: 80%;
    border-radius: 10px;
    margin-left: 2px;
}

.VisionTextBox{
    background-color: #A5DFE9;
    border: 1px solid #dadada;
    width: 98%;
    height: 80%;
    border-radius: 10px;
    margin-right: 2px;

}

.Lateral h2{

    margin: 0   ;
}

.Novedades{
    background-color: #A5DFE9;
    border: 1px solid #dadada;
    width: 60%;
    height: 26%;
    border-radius: 10px;
    margin-left:20%;
    margin-bottom: 3%;
}

.HorasMensuales{
    background-color: #A5DFE9;
    border: 1px solid #dadada;
    width: 60%;
    height: 26%;
    border-radius: 10px;
    margin-left:20%;
    margin-bottom: 3%;
}

.Recibos{
    background-color: #A5DFE9;
    border: 1px solid #dadada;
    width: 60%;
    height: 26%;
    border-radius: 10px;
    margin-left:20%;
    margin-bottom: 3%;
}