body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;

}

header {
    background-color: #A5DFE9; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    height: 8vh; 
}

.header-left {
    display: flex;
    align-items: center;
}

.header-center {
    display: flex;
    justify-content: right;
    flex-grow: 1;
    margin-right: 20px;
}

.header-right {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.user-icon {
    height: 50px;
    width: 50px;
    border-radius: 50%; 
    object-fit: cover;
}

.Button {
    min-width: 120px;
    max-width: 200px;
    background-color: #d6eef4;
    text-align: center;
    color: #3b2b8d;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    border: 1px solid #b0d0db;
    border-radius: 8px;
    padding: 8px 12px;
    margin: 2px;
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    white-space: nowrap;
}

.Button:hover {
    background-color: #c4e1eb;
    transition: background-color 0.2s;
    transform: scale(1.05);
    transition: transform 0.2s;
}

.Principal{
    background-color: #EBF1F4;
    padding: 10px;
    margin: 20px;
    margin-bottom: 0;
    margin-left: 14%;
    border-radius: 10px;
    border: 5px solid #A5DFE9;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 70%;
    height: 70vh;  
     
}
.AgregarHoras{
    background-color: #A5DFE9;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    justify-content: space-between;
    width: 96%;
    height: 93%;
}

.Container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 20%;
}


.AgregarHorasButton{
    width: 100%;
    min-width: 150px;
    max-width: 300px;
    background-color: #d6eef4;
    text-align: center;
    color: #3b2b8d;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    border: 1px solid #b0d0db;
    border-radius: 8px;
    padding: 8px 12px;
    margin: 2px;
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    white-space: nowrap;
}

.tabla {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fef9fb;
}

.tabla thead {
  background-color: #cfe9f5;
  color: #2f2f81;
  font-weight: bold;
  text-align: left;
}

.tabla th, .tabla td {
  padding: 10px 15px;
  border: 1px solid #ccc;
}

.btn {
  padding: 5px 10px;
  border: 2px solid #62c7f3;
  background-color: white;
  color: #2f2f81;
  font-weight: bold;
  cursor: pointer;
  margin-left: 5px;
  transition: background-color 0.2s;
}

.btn:hover {
  background-color: #e6f7ff;
}

.eliminar {
  border-color: #f19191;
  color: #b01d1d;
}

.editar {
  border-color: #62c7f3;
  color: #2f2f81;
}
